# This is branch no-db, which will not include code for accessing SQLite

# goland related
.idea

unit_test/generated

# Executables
cmd/*_demo

webserv/cache

# Cache for serving images from database... can this be an in-memory cache instead?
webserv/resources/c

# Generated data classes
gen

.go_flags.json

# The database
#
webapp/sqlite

playground/playground.html
