
.progress-container {
  height: 1em;
  position: relative;
}

.progress-bar, .progress-bar-bgnd {
  border-radius: .3em;
  background: #73AD21;
  width: 100%;
  height: 100%;
  position: absolute;
 }
.progress-bar {
  z-index: 10;
}
.progress-text {
  padding-top:.2em;
  text-align: center;
  font-size: 80%;
  padding-bottom:.5em;
}
.progress-bar-bgnd {
  background: #e0e0e0;
}

.animal-card {
  max-width:16em;
}
